<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Table</title>
</head>
<body>
<div id="product-table">
    <h1>Products</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Handle</th>
            <th>Product Type</th>
            <th>Vendor</th>
        </tr>
        </thead>
        <tbody th:fragment="tableBody">
        <tr th:each="product : ${products}">
            <td th:text="${product.title}">Product Title</td>
            <td th:text="${product.handle}">Product Handle</td>
            <td th:text="${product.productType}">Product Type</td>
            <td th:text="${product.vendor}">Vendor</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
